trigger:
  - main

pr:
  autoCancel: 'true'

resources:
  repositories:
    - repository: templates
      type: github
      name: nhsuk/nhsuk.tools.pipeline-templates
      endpoint: nhsuk
      ref: story/PROD-2638_node_24_upgrade

extends:
  template: storybook.yml@templates
  parameters:
    Project:
      Name: 'NHSUK Tools Package - Chart Components'
      RepositoryName: 'nhsuk.tools.chart-components'
      ShortName: 'toolschrtcomp'
    BuildStorybook: true
    PublishLocation: 'public'
    AgentPool: 'Azure Pipelines'
    AgentImageName: 'Ubuntu 24.04'
    TerraformCodePath: '$(System.DefaultWorkingDirectory)/platform/src'
    PlatformDeployPrefix: 'Platform_deployment_to_'
    Regions:
      - name: 'uksouth'
        shortName: 'uks'
        isPrimary: true
    Environments:
      Integration:
        shortName: int
        enabled: true
        dependsOn:
          - PreDeploySetup
