$cbmi-graph-height-desktop: 28px;
$cbmi-graph-height-mobile: 24px;

$cbmi-graph-outline: 1px solid black;

$cbmi-underweight-colour: #330072;
$cbmi-overweight-colour: #ffb81c;
$cbmi-healthy-colour: #30b4ab;

%cbmi-classification-healthy {
  background: repeating-linear-gradient(
    -45deg,
    $cbmi-healthy-colour,
    #30b4ab 4.5px,
    #00a499 4.5px,
    #00a499 9px
  );
}

%cbmi-classification-overweight {
  background: $cbmi-overweight-colour;
}

%cbmi-classification-underweight {
  background: $cbmi-underweight-colour;
}
